/* google font  */
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



/* common style  */
body {
    font-family: "Montserrat", sans-serif;
}

.f-caveat{
    font-family: "Caveat", cursive;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}


/* btn common style  */

button.btn{
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    line-height: 1;
    cursor: pointer;
    max-width: 350px;
    width: 100%;
    height: 54px;
    text-transform: capitalize;
    border: transparent;
    border-radius: 5px;
    padding: 15px 60px;
    background: linear-gradient(0deg, rgba(238,210,137,1) 26%, rgba(169,113,64,1) 88%);
    transition: all 0.3s ease;
}

.btn:hover {
    background: linear-gradient(0deg, rgb(183 133 3) 26%, rgb(235 175 123) 88%);
    color: white;
}

.btn::after {
    position: relative;
    left: 7px;
    top: 2px;
    content: "\f101";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
}


.sub_title {
    font-size: 23px;
    font-weight: 400;
    line-height: 29.9px;
    color: #fff;
    text-transform: capitalize;
    padding-bottom: 17px;
    margin-bottom: 16px;
    position: relative;
}

.sub_title::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    height: 1px;
    background-color: #CBD5E0;
}


.title {
    font-size: 50px;
    font-weight: 700;
    line-height: 65px;
    color: rgb(44, 44, 44);
    text-transform: uppercase;
}
.title span{
    color: #EED289;
}


/* mobile menu  */
.bar_icon {
	font-size: 30px;
	border: transparent;
	background-color: transparent;
	color: white;
	position: absolute;
	top: 30px;
	right: 30px;
}




/***************** header style *************/
.header {
    max-height: 140px;
    height: 100%;
    padding: 20px 0px;
    background-color: #4C1211;
    display: flex;
    align-items: center;
}

.logo {
    max-width: 110px;
    width: 100%;
    max-height: 80px;
    height: 100%;
    margin-inline: auto;
}

.logo img {
    width: 100%;
    height: 100%;
}



.desktop_menu {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.nav_items {
    display: flex;
    align-items: center;
    margin: 0;
}


.nav_items > li{
    padding: 5px 15px;
}
.nav_items > li a{
    font-size: 18px;
    font-weight: 400;
    text-transform: capitalize;
    color: rgb(255, 255, 255);
    line-height: 20.8px;
    transition: all .3s ease;
}

.nav_items > li:hover a{
    color: rgb(238, 210, 137);
}



/****************banner style********************/
.banner {
    width: 100%;
    min-height: 619px;
    height: 100%;
    background-image: url('../assets/banner-section.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 40px 0px 20px;
}

.banner::after {
    position: absolute;
    content: " ";
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #4C1211;
    opacity: .5;
    z-index: 1;
}


.banner_text_content {
    position: relative;
    max-width: 1130px;
    width: 100%;
    margin: 0px auto;
    text-align: center;
    z-index: 11;
}


.banner_text_content h1 {
    font-size: 65px;
    color: #f9f8fa;
    font-weight: 700;
    line-height: 84.5px;
}


.banner_text_content h1  span{
    color: #EED289;
    text-decoration: underline;
}


.banner_text_content p{
    color: #fff;
    font-size: 22px;
    font-weight: 400;
    line-height: 35.2px;
    margin-bottom: 25px;
}

.banner_text_content button.banner_btn {
    max-width: 262px;
    width: 100%;
}





.banner_video_content #iframe{
    width: 100%;
    height: 642px;
}




/************services style************/

.services {
    padding: 20px 0px 50px;
}

.service_header {
    max-width: 1130px;
    width: 100%;
    margin: 0px auto;
    text-align: center;
    
}

.service_header h1 {
    font-size: 50px;
    font-weight: 700;
    color: rgb(44, 44, 44);
    padding: 0;
    opacity: 1;
    line-height: 65px;
    text-transform: uppercase;
}

.service_header h1  span{
    color: #A97140;
}


.service_header button {
    max-width: 350px;
    width: 100%;
    margin-top: 13px;
}



.services_content {
    max-width: 1130px;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding-top: 40px;
}


.services_wrapper {
    border: 2px solid #CBD5E0;
    text-align: center;
    padding: 28px 23px;
    background-color: white;
    min-height: 303px;
    height: 100%;
}


.services_wrapper button {
    font-size: 70px;
    background-color: transparent;
    border: transparent;
    margin-bottom: 20px;
}
.services_wrapper button i{
    color: #EED289;
}

.services_wrapper p {
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    color: rgb(0, 0, 0);
}


/******************about style******************/

.about {
    padding: 50px 0px;
}


.about_content {
    max-width: 1130px;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    column-gap: 43px;
}

.about_image img {
    width: 100%;
    max-height: 750px;
    height: 100%;
    object-fit: cover;
}


.about_text_content h4 {
    font-size: 23px;
    font-weight: 400;
    line-height: 29.9px;
    color: rgb(0, 0, 0);
    padding-bottom: 20px;
    margin-bottom: 17px;
    position: relative;
}

.about_text_content h4::after {
    position: absolute;
    content: " ";
    bottom: 0;
    left: 0;
    width: 50%;
    height: 1px;
    background-color: #CBD5E0;
}

.about_text_content h1 {
    font-size: 50px;
    font-weight: 700;
    line-height: 65px;
    color: rgb(44, 44, 44);
    text-transform: capitalize;
}

.about_text_content h1 span {
    color: #A97140;
}


.about_text_content p {
    font-size: 18px;
    font-weight: 400;
    line-height: 28.8px;
    color: rgb(44, 44, 44);
}



.about_bottom {
    margin-top: 47px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about_bottom_content {
    display: flex;
    align-items: center;
    column-gap: 38px;
}

.about_bottom_content button.btn.about_btn {
    width: 342px;
    margin-top: 20px;
}


.about_bottom_content .arrow {
    background-color: transparent;
    border: transparent;
}



/**********************veritas style******************************/
.veritas {
    background-image: url('../assets/veritas.bmp');
    background-position: center;
    background-size: cover;
    object-fit: cover;
    background-repeat: no-repeat;
    padding: 20px 0px 280px;
    /* position: relative; */
    max-height: 591px;
    height: 100%;
}


.veritas_container {
    max-width: 1130px;
    width: 100%;
    margin: 0 auto;
}


.veritas_header {
    padding: 15px 0;
    text-align: center;
}

.veritas_header h4 {
    font-size: 23px;
    font-weight: 400;
    line-height: 29.9px;
    color: #fff;
    text-transform: capitalize;
    padding-bottom: 17px;
    margin-bottom: 16px;
    position: relative;
}

.veritas_header h4::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    height: 1px;
    background-color: #CBD5E0;
}

.veritas_header h1 {
    color: #fff;
}
.veritas_header p {
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    text-transform: capitalize;
    color: #fff;
    font-family: "Caveat", cursive;
}
.veritas_header p span {
    color: #EED289;
}


.veritas_video {
    max-width: 1130px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    top: 57px;
}

.veritas_video #iframe {
    width: 100%;
    height: 642px;
}




/**********************team style*****************/

.team_container {
    padding: 50px 0px;
    margin-top: 500px;
}



/****************testimonial style***********************/

.testimonial {
    padding: 80px 0px 50px;
}

.testimonial_content {
    max-width: 1130px;
    width: 100%;
    margin: 0 auto;
}


.testimonial_header {
    text-align: center;
    margin-bottom: 47px;
}

.testimonial_header h4 {
    color: #2C2C2C;
}
.testimonial_header h1 {
    color: #2C2C2C;
}
.testimonial_header h1 span {
    color: #A97140;
}


.carousel_item {
    padding: 30px;
    min-height: 247px;
    box-shadow: 0 1px 1px 1px #0000004d;
    background-color: #5F2323;
    color: #fff;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.carousel_item img{
    max-width: 90px;
    width: 100%;
    max-height: 90px;
    width: 100%;
    border-radius: 50%;
}

.single_item {
    max-height: 300px;
    height: 100%;
    padding: 20px;
    background-color: #4C1211;
    text-align: center;
}

.single_item img {
    max-width: 90px;
    width: 100%;
    max-height: 90px;
    width: 100%;
    border-radius: 50%;
    margin: 0 auto;
}

.single_item p {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    color: white;
    margin-top: 15px;
}



/***********************veritas style**********************/

.veritas_two {
    background-image: url('../assets/veritas.bmp');
    background-position: center;
    background-size: cover;
    object-fit: cover;
    background-repeat: no-repeat;
    padding: 50px 0px 85px;
}


.veritas_tabs {
    max-width: 1130px;
    width: 100%;
    margin: 0 auto;
    padding: 15px 0px;
}

.veritas_tabs .nav-tabs {
    border: transparent;
    display: flex;
    justify-content: center;
    column-gap: 15px;
    margin-bottom: 48px;
}

.veritas_tabs .nav-tabs .nav-link {
    border: 2px solid #fff;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    font-family: Prata, serif;
    background-color: transparent;
    border-radius: 2px;
    font-family: Arial;
    color: #ffffff;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
    margin: 5px;
    align-items: center;
    padding: 10px 30px;
}


.veritas_tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    border-radius: 0;
    background-color: transparent;
    color: #EED289;
    border-color: #EED289;
    text-decoration: none;
}



.veritas_tab_content img {
    width: 100%;
}





/************************faq style***********************************/
.faq {
    padding: 80px 0px 50px;
}


.faq_container {
    max-width: 1130px;
    width: 100%;
    margin: 0 auto;
}


.faq_header {
    text-align: center;
    margin-bottom: 65px;
}


.faq_header h4 {
    color: #2C2C2C;
}


.faq_collapse p {
    font-size: 22px;
    font-weight: 500;
    background-color: transparent;
    color: black;
    border-top: 1px solid rgb(203, 213, 224);
    padding: 18px 0px 18px 17px;
    margin: 0;
}


.faq_collapse .card-body {
    border: transparent;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    color: rgb(44, 44, 44);
    padding-top: 0px;
}



/********************footer style*********************/
.footer_container {
    padding: 48px 0 29px;
    background-color: #2C2C2C;
}

.footer {
    max-width: 1130px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 10px 0px;
}

.footer_logo {
    max-width: 177px;
    width: 100%;
    max-height: 130px;
    height: 100%;
    margin-inline: auto;
}
.footer_logo img{

    width: 100%;
    height: 100%;
}

.copyright p {
    font-size: 18px;
    font-weight: 400;
    line-height: 28.8px;
    color: #616161;
}

